from dokusei.utils.config_manager import Config
from dokusei.utils.utils import RunMode, VersionInfo

config: Config = {
    "bot": {
        "token": "",
        "description": "Personal Discord Bot",
        "logging_webhook": "",
        "stats_webhook": "",
    },
    "translate": {
        "primary_language": "en",
    },
    "database": {
        "host": "127.0.0.1",
        "port": 5432,
        "user": "dokusei",
        "password": "verysecurepassword",
        "database": "dokusei",
    },
    "links": {
        "repository": "https://github.com/Dunc4nNT/Dokusei",
        "website": "https://dunc4nnt.github.io/Dokusei-Website/",
        "docs": "https://dunc4nnt.github.io/Dokusei-Docs/",
        "dashboard": "https://dunc4nnt.github.io/Dokusei-Dashboard/",
        "support": "soon™",
    },
    "dev": {
        "mode": RunMode.PRODUCTION,
        "version": VersionInfo(
            major=0, minor=0, micro=1, releaselevel="alpha", serial=0
        ),
    },
}
